<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head" />
<body class="">
	<header th:replace="layout/layout :: header"></header>
	<div class="container-fluid my-3">
	<div class="card">
		<div class="card-header text-center">
			<h2>Buscar Candidato</h2>
		</div>
		<div class="card-body">
		
			<form id="buscarAssessment" class="my-4" th:object="${assessment}" th:action="@{buscar}" method="post">
			
				<div class="form-group row ">
					<label class="col-md-2 col-sm-5 col-form-label text-right">Nombre: </label>
					<div class="col-md-3 col-sm-5 px-1 mx-1 my-2">
						<input class="form-control" type="text" name="primerNombre" th:field="*{primerNombre}"/>
					</div>
					<label class="col-md-2 col-sm-5 col-form-label text-right">Segundo Nombre: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="text" name="segundoNombre" th:field="*{segundoNombre}"/>
					</div>
				</div>
				<div class="form-group row ">
					<label class="col-md-2 col-sm-5 col-form-label text-right">Apellido Paterno: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="text" name="apellidoPaterno" th:field="*{apellidoPaterno}"/>
					</div>
					<label class="col-md-2 col-sm-5 col-form-label text-right">Apellido Materno: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="text" name="apellidoMaterno" th:field="*{apellidoMaterno}"/>
					</div>
				</div>
				<div class="form-group row ">
					<label class="col-md-2 col-sm-5 col-form-label text-right">Email: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="email" name="email" th:field="*{correosElectronicos[0].correo}"/>
					</div>
					<label class="col-md-2 col-sm-5 col-form-label text-right">Fecha Nacimiento: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="date" name="dayOfBirdth" th:field="*{fechaNacimiento}"/>
					</div>
				</div>
				<div class="form-group row ">
					<label class="col-md-2 col-sm-5 col-form-label text-right">Teléfono de Casa: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="text" name="homeNumber" th:field="*{numeroCasa}"/>
					</div>
					<label class="col-md-2 col-sm-5 col-form-label text-right">Teléfono Celular: </label>
					<div class="col-md-3 col-sm-5  px-1 mx-1 my-2">
						<input class="form-control" type="text" name="cellNumber" th:field="*{numeroCelular}"/>
					</div>
				</div>
			</form>
		</div>				
			
		</div>
		<div class="card-footer">
			<div class="justify-content-center text-center">
				<button type="button" class="btn btn-outline-primary mx-2" onclick="aceptar()">Guardar</button>
				<button type="button" class="btn btn-outline-danger mx-2" onclick="salir()">Cancelar</button>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		console.log("listo");
	})
	
	function aceptar(){
		$( "#buscarCandidato" ).submit();
	}
	
	function salir(){
		$(location).attr('href','/');
	}
</script>
</html>